{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        {{ with .Title }}
        <h1>{{ . | markdownify }}</h1>
        {{ end }}
        <div class="indexlogo">
          {{ with .LogoLight }}
          <img class="ligththeme" src="{{ . }}"/>
          {{ end }}
          {{ with .LogoDark }}
          <img class="darktheme" src="{{ . }}"/>
          {{ end }}
        </div>
    </header>
    <section class="entry-content">
        <p>{{- .Content | markdownify }}</p>
    </section>
<ul class="terms-tags">
<center>
  {{ range first 7 $.Site.Taxonomies.tags.ByCount }}
    <li>
        <a href="/tags/{{ .Name | urlize }}">{{ .Name }} <sup><strong><sup>{{ .Count }}</sup></strong></sup> </a>
    </li>
  {{ end }}
</center>
</ul>
    <footer class="entry-footer">
        <center>
        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}
        </center>
    </footer>
</article>
{{- end}}
